<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Phoenix Starter App">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">App</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED"/>
        <ini name="display_errors" value="1"/>
        <const name="FB_ENV" value="development"/>
        <env name="DB_DRIVER" value="pdo_sqlite"/>
        <env name="DB_NAME" value=":memory:"/>
        <env name="DB_USER" value=""/>
        <env name="DB_PASS" value=""/>
        <env name="DB_HOST" value="localhost"/>
    </php>
</phpunit>
