{% extends 'layout.html.twig' %}

{% block content %}
<div class="card">
    <nav class="nav">
        <a href="/">Home</a>
    </nav>

    <h1>{{ title }}</h1>

    <div class="error-message">
        {{ message }}
    </div>

    <p>
        <a href="/" class="btn">Return Home</a>
    </p>
</div>
{% endblock %}
